 @import "tailwindcss"; 
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;

}
ul{
  list-style: none;
  margin: inherit;
  padding: inherit;
}
.auth{
  display: flex;
  align-items: center;
  height: 100vh;
  background: #0f172a;
}
a{
  color: inherit !important;
  text-decoration: none ;
}

.dropdown .btn {
  border: none;
}
.dropdown-item{
  color: inherit !important ;
}
.msg-body .dropdown-item{
  padding: inherit !important;
}
.dropdown-item:hover{
  background: none !important;
  cursor: pointer;
}
label{
  font-weight: 500;
}

/* input:focus{
  box-shadow: none !important;
  outline: none;
} */
input:-webkit-autofill {
  background-color: transparent !important;

}
.pass-input a{
  color: inherit;
  text-decoration: none;

}
.logo {
  display: flex;
  justify-content: center;
  /* height: 6em;
  padding: 1.5em; */
  cursor: pointer;
  padding: 20px;
  will-change: filter;
  transition: filter 300ms;
}
.logo a{
  color: #878a92 !important;
}
.submit-btn .btn{
  width: 100%;
  padding: 10px 15px;
}
.submit-btn .btn:hover{
  background: #203047;
}
.btn_light{
  background:rgb( 54, 64, 74) !important;
}
.btn_dark{
  background: #e6ebf5 !important;
}

.card {
  padding: 2em;
  background:#132036 !important;
  color: white;
}
.card input {
  background: #132036;
}
.card i{
  color:white;
}
.card label{
  color: #94a3b8;
}
.log-submit{
  text-align: center;
}

.chat-login .card label{
  margin-bottom: 0.5rem;
}
.chat{
  display: flex;
}
.chat-input{
  background: rgba(230, 235, 245);
  border-radius: 10px;
}
.header{
    padding: 15px 20px 15px 20px;
}
.chat-body{
  width: 100%;
display: flex;
justify-content: space-between;
flex-direction: column;
overflow: hidden;
box-shadow: 0 2px 4px #0f223a1f;
  /* color: white;
  background: #36404a; */
}
  /* height: calc(100vh - 184px) !important;
} */
 .msg-body{
  border-top: 1px solid #36404a;
 }
.chat-header{
  padding: 10px;
  border-bottom: 1px solid #36404a;
}
#msg{
  outline: none !important;
}
input{

  outline: none;
}
textarea{
  resize: none !important;
  outline: none;
  border: none;
}
.chat-user{
  display: flex;
  align-items: center;
}
.chat-user-nav ul{
  margin-bottom: inherit;
}
.chat-icons{
  gap:15px;
  /* align-items: center; */
  margin: inherit;
  padding: inherit;
}
.conversation-body{
  padding: 20px;
  /* height:calc(100vh-94px); */
  overflow-y: scroll;
}
/* .users .avatar{
  margin-right: 1rem;
} */
.avatar{
  width: 80px;
  height: 80px;
  margin-right: 1rem;
  border-radius: 50%;
  position: relative;
}
.admin-img{
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border-radius: 50%;
  position: relative;
}
.chat-user-nav .btn svg{
  font-size: 25px !important;
}
.attached{
  margin-bottom: inherit;
  margin-top: inherit;
}

.users{
  display: flex;
  flex-direction: column;
  /* gap: 20px; */

}
.bs-light:hover{
  background: #36404a;
}
.bs-dark:hover{
  background: #e6ebf5;
}
.users a{
  text-decoration: none;
}
/* .users img{
  height: 80px;
  width: 80px;
} */

 .user h5{
  /* text-transform: capitalize; */
  font-size: 15px !important;
} 
figure{
  position: relative;
  margin: inherit;
}
.status{
  position: absolute;
  background-color: #06d6a0;
  border:2px solid white;
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 5px;
  bottom: 9px;
}
.notify{
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message{
  display: flex;
  padding: 2px;

}
.message div{
  flex-direction: column;
  background-color: #f5f7fb;
  border-radius: 8px 8px 0px 8px;
  /* max-width: 300px; */
  padding: 10px 15px;
  text-align: right;
  margin-bottom: inherit;
}

.message img{
  height: 100px;
  width: 100% !important;
}
.msnn{
  display: flex;
  justify-content: start;
}
#msn{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2px;
}

.hide{
  position: absolute;
  right: 0px;
  top:0px;
}
.search-form{
  position: relative;
}
.search-form input{
  font-size: 1.2rem;
}
/* .search-form input:focus{
  background: #36404a;
} */
.search-form a{
  position: absolute;
  right: 15px;

}
 input[type='file']{
display: none;
}
.icons{
  gap: 10px;
}
.popup{
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  position: fixed;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.popup img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
object-fit: cover;
}
/* .avatar{
  width: 4rem;
  height: 4rem;
} */
 
.popup .avatar{
  width: 10rem;
  height: 10rem;
}
.actions a{
  width: 70px;
  height: 70px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-box{
  width: 400px;
  padding: 20px;
  background: #f0eff5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authentication input{
  padding-left: 3rem !important;
  padding: 10px;
  border: 1px solid #203047;
  outline: none;
}
.authentication input:focus{
  border: 1px solid #203047 !important;
}
.authentication button{
   border: 1px solid #f0eff5; 


}
.auth button[type="submit"]{
  background: #203047;
  border: none;
}
.authentication i{
  top:8px;
}
.sidebar{
  display: flex;
  padding: 10px;
  width: 5rem !important;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(15, 34, 58, .12)

}
.navbar-menu{
  display: flex;
  flex-direction: column;
}
.navbar-menu a{
  color: #878a92 !important;
  border:none !important;
}
.navbar-menu a svg{
  font-size: 2rem;
}
.sidebar-menu{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
 
}

.sidebar-menu a:hover{
  background: #3e4a56;
  color: white;
}
.chat-row{
  height: 100vh;
  display: flex;
}
/* .chats{
  box-shadow: 0 2px 4px #0f223a1f;
} */
.messages img{
  max-width: 150px !important;

}
select {
  font-size: 28px !important;
  -webkit-appearance: none;
  appearance: none;
  text-align: center;
  border: none !important;
  outline: none !important;
  background: inherit;
}
/* .notifies{
gap: 1rem;
} */
.msg-count{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  background-color: rgba(61, 177, 107, .3);
  display: flex;
  justify-content: center;
  align-items: center;

}
.chat-user-nav li a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.profile-img img{
  width: 100px;
  height: 100px;
  /* border: 1px solid #f0eff5; */
  /* background: #f2f2f2; */
}
.profile-img a{
  position: absolute;
  right: 0px;
}
 .user-profile{
  border-bottom: 1px solid rgb(240, 239, 245);
  padding-bottom: 1rem;
} 
.users .user-profile{
  padding: 15px 20px;
  border:none;
}
.sented{
  font-weight: 400;
}

.border-lighted{
  border: 1px solid #36404a;
}
.border-grey{
  border: 1px solid #f0eff5;
}
.user-content{
  padding: 20px;

}
.user-content label{
  padding-top: 20px;
}
.user-content a{
  font-size: 24px
}
.media-img {
display: flex;
gap: 20px;
}

.media-img img{
  width: 80px;
  height: 80px;
  border-radius: 4px;
  object-fit: cover;
}

.emojis{
  margin-bottom: inherit;
}
.message-content .btn{
  position: absolute;
  top: 3px;
  left:0px;
}
.message-content div{
  background-color: rgba(61, 177, 107, .3);
  border-radius:8px 8px 0 8px;
  padding:12px 20px;
}
.modal-title {
  color: black !important;
}
.conversation-body .waves{
  animation-name: waving;
  animation-duration: 9s;
}
@keyframes waving{
  0% {opacity:0.5}
  25% {opacity:0.7}
  75% {opacity:0.4}
  100% {opacity:1}
}
.dropup .dropdown-menu.show{
  display: grid !important;
  grid-template-columns: auto auto auto auto;
}
form{
  position: relative;
}
form img{
  position: absolute;
  top: 0px;
  width: 4rem;
  height: 3rem;
  border-radius: 10px;
}
.icons  svg{
  color: #7269ef ;
}
.profile-img a{
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 6.5px;
  right: 2rem;
  bottom: 3rem;
  text-align: center;
  width: 2.3rem;
  background: rgb( 230, 235, 245) !important;
  color: #333 !important;
  border-radius: 50%;
}
.lines{
  display: flex;
  justify-content:center ;
  gap: 10px;
  top: 0rem;

}
.starting{
  background-color: rgb(54, 64, 74);;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.line{
  width: 6px;
  height: 8px;
  display: inline-block;
  border-radius: 4px;
  animation:recording 1.25s .25s infinite;
  background-color: #adb5bdbf;
} 
.line:nth-child(1){
  animation-delay: 0s;
}
.line:nth-child(2){
  animation-delay: 0.2s;
}
.line:nth-child(3){
  animation-delay: 0.4s;
}
.line:nth-child(4){
  animation-delay: 0.6s;
}
.line:nth-child(5){
  animation-delay: 0.8s;
}
@keyframes recording{
  0%{
    height: 10px;
  }
50%{
  width: 20px;
}
100%{
  width: 10px;
}
}
#prof a{
  position: absolute;
}
.user{
  cursor: pointer;
  width: 100%;
  align-items: center;
}
.text-mute{
  color: #abb4d2;;
}
.background-light{
  background:  rgba(54, 64, 74) !important;
}
.background-dark{
  background: rgba( 230, 235, 245) !important;
}
@media (max-width:768px) {
  .sidebar{
    position: fixed;
    bottom:0;
    min-width: 100%;
  }
  .logo{
    display: none;
  }
  .nav, .sidebar, .sidebar-menu, .navbar-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    justify-content: center;

  }
  .starting{
    display: none;
  }
  .navbar-menu{
    display: flex;
    flex-direction: row;
  }
  .sidebar{
    display: flex;
    flex-direction: row;
  }
  .sidebar-menu{
    display: flex;
    flex-direction: row;
  }
}
form button svg{
  color: #7269ef !important;
}